nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      button.mob-menu.navbar-toggle.collapsed(type='button', ng-click='navCollapsed=!navCollapsed')
        i.fa.fa-navicon
      .navbar-brand
        .logo
      .navbar-brand.pull-left.hidden-sm.hidden-md.hidden-lg
    .collapse.navbar-collapse(ng-class='{"in":navCollapsed}')
      ul.nav.navbar-nav
        li
          a(du-smooth-scroll, duration='800', href='#example')
            i.fa.fa-home
        li
          a(ng-click='nav.openClassModal()')
            i.fa.fa-book
            |   Add Class
        li
          a(ng-click='nav.openUserModal()')
            i.fa.fa-user-plus
            |   Add Student
        li
          a(ng-click='nav.currentService.edit=!nav.currentService.edit;')
            i.fa(ng-class='{"fa-calendar-times-o": !nav.currentService.edit, "fa-calendar-check-o": nav.currentService.edit}')