@import '../../css/functions';
@import '../../css/colors';

.annotations{
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 52px;
  .st-sort-ascent:before{
    content: '\25B2';
  }
  .st-sort-descent:before{
    content: '\25BC';
  }
  .head{
    position: fixed;
    top: 53px;
    width: 100%;
    height: 91px;
    background: $clouds;
    .week{
      line-height: 91px;
      float: left;
      width: 200px;
      text-align: center;
      border-right: 1px solid darken($clouds, 10);
    }
  }
  .class{
    width: 800px;
    margin-top: 144px;
    .column{
      float: left;
      width: 200px;
      .ann{
        height: 60px;
        border-bottom: 1px solid $clouds;
        .block{
          float: left;
          width: 200px;
          height: 60px;
          .action{
            line-height: 30px;
            display: block;
            float: left;
            width: 40px;
            height: 30px;
            text-align: center;
            border: 1px solid $clouds;
          }
        }
      }
    }
  }
}
