#annotations
  table.table.table-striped(st-pipe='ann.callServer', st-table='ann.students')
    thead
      tr
        th Search
        th
          input.input-sm.form-control(st-search='name', placeholder='search for name', type='search')
        th
          input.input-sm.form-control(st-search='lastname', placeholder='search for lastname', type='search')
      tr
        th(st-sort='number', st-sort-default='true') Number
        th(st-sort='name') Name
        th(st-sort='lastname') Last Name
    tbody(ng-show='ann.isLoading')
      tr
        td.text-center(colspan=3)
          .i.fa.fa-spinner.fa-pulse
    tbody(ng-show='!ann.isLoading')
      tr(ng-repeat='row in ann.students')
        td {{row.number}}
        td {{row.name}}
        td {{row.lastname}}
    tbody(ng-show='!ann.isLoading && ann.students.length === 0')
      tr
        td.text-center(colspan=3) No matches found. Type the exact name considering uppercases.