#annotations
  table(st-pipe='ann.callServer', st-table='ann.students', class='table table-striped')
    thead
      tr
        th
          input.input-sm.form-control(st-search='firstname', placeholder='search for firstname', type='search')
        th
          input.input-sm.form-control(st-search, placeholder='global search', type='search')
      tr
        th(st-sort='ann.getters.sortbyNumber()') Number
        th(st-sort='ann.getters.sortbyName') Name
        th(st-sort='ann.getters.sortbyLastname') Last Name
    tbody(ng-show='ann.isLoading')
      tr
        td.text-center(colspan=3)
          .i.fa.fa-spinner.fa-pulse
    tbody(ng-show='!ann.isLoading')
      tr(ng-repeat='row in ann.students')
        td {{row.number}}
        td {{row.name}}
        td {{row.lastname}}