.annotations
  table(st-table='ann.rowCollection', class='table table-striped')
    thead
      tr
        th(st-sort='firstName') first name
        th(st-sort='lastName') last name
        th(st-sort='birthDate') birth date
        th(st-sort='balance') balance
        th email
      tr
        th
          input.input-sm.form-control(st-search='firstName', placeholder='search for firstname', type='search')
        th
          input.input-sm.form-control(st-search, placeholder='global, search', type='search')
        th
          input.input-sm.form-control(st-search='{{selectedPredicate}}', placeholder='bound predicate', type='search')
    tbody
      tr(ng-repeat='row in ann.rowCollection')
        td {{row.firstName}}
        td {{row.lastName}}
        td {{row.birthDate}}
        td {{row.balance}}
        td {{row.email}}