.container-fluid
  .col
    h2 Select Class:
  .col
    .btn-group(uib-dropdown='')
      button.btn.btn-default(type='button', uib-dropdown-toggle='')
        i.fa.fa-book
        |   {{ann.currentService.classId}}  
        span.caret
      ul.dropdown-menu(uib-dropdown-menu='', role='menu')
        li(role='menuitem', ng-repeat='classId in ann.classes')
          a(ng-click='ann.changeClass(classId.id)') {{classId.id}}
  .col
    p.text-center
      a.btn(ng-click='ann.currentService.edit=!ann.currentService.edit;',
            ng-class='{"btn-danger": !ann.currentService.edit, "btn-success": ann.currentService.edit}')
        i.fa(ng-class='{"fa-eraser": !ann.currentService.edit,"fa-edit": ann.currentService.edit}')
  .col {{ann.currentService.currentWeekNum}}

.annotations
  .col-sm-2 title
  .col-sm-2(ng-repeat='student in ann.students.data') {{student.name}}