.sidebar.col-xs-3
  .searchbar.col-xs-3
    .input-group
      span.input-group-addon
        i.fa.fa-user
      input.form-control(placeholder='Alumno')
  .class-info.col-xs-3
    .title
      .icon.text-center.col-xs-2
        i.fa.fa-sort-alpha-asc
      .class-title.col-xs-10
        | 4A
  .class-users
    .class-user(ng-repeat='user in [1,2,3,4,5,6,7,8,9]')
      .col-xs-2.num.text-center {{user}}
      .col-xs-8.class-title
        | Sabino Velásquez
      .col-xs-2.lock
        a
          i.fa.fa-lock
