@import '../../css/functions';
@import '../../css/colors';

.sidebar{
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 52px;
  border-right: 1px solid darken($clouds, 10);
  background: $clouds;
  .searchbar{
    position: fixed;
    z-index: 2;
    top: 53px;
    top: 53px;
    left: 0;
    padding: 8px;
    border-bottom: 1px solid darken($clouds, 10);
    background: darken($clouds, 5);
  }
  .class-info{
    line-height: 40px;
    position: fixed;
    z-index: 2;
    z-index: 2;
    top: 104px;
    top: 104px;
    left: 0;
    height: 40px;
    border-bottom: 1px solid darken($clouds, 10);
    background: darken($clouds, 5);
    .icon{
      border-right: 1px solid darken($clouds, 10);
    }
    .class-title{
      font-size: 1.2em;
      font-weight: 700;
      .dropdown{
        top: -2px;
      }
    }
  }
  .class-users{
    margin-top: 92px;
    .class-user{
      height: 60px;
      border-bottom: 1px solid darken($clouds, 10);
      .num{
        line-height: 60px;
        border-right: 1px solid darken($clouds, 10);
      }
      .class-title{
        padding-top: 8px;
      }
      .lock{
        line-height: 60px;
      }
    }
  }
}
