.sidebar.col-xs-3
  .searchbar.col-xs-3
    .input-group
      span.input-group-addon
        i.fa.fa-user
      input.form-control(placeholder='Alumno')
  .class-info.col-xs-3
    .title
      .icon.text-center.col-xs-2
        i.fa.fa-sort-alpha-asc
      .class-title.col-xs-10
        | 1A
  .class-users
    .loading.text-center(ng-show='sidebar.loading')
      i.fa.fa-spinner.fa-pulse
    .class-user(ng-repeat='(key, user) in sidebar.students track by $index')
      .col-xs-2.num.text-center {{key}}
      .col-xs-8.class-title
        | {{user.name}}
      .col-xs-2.lock
        a
          i.fa.fa-lock
