@import './core/css/functions';
@import './core/css/colors';
@import './core/css/common';
// @import './core/css/logo';

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body,
html{
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}
.right{
  float: right;
}
.nopad{
  padding: 0;
}
.glyphicon{
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  display: inline-block;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-chevron-left:before{
  content: '\f053';
}
.glyphicon-chevron-right:before{
  content: '\f054';
}
.col{
  float: left;
  h2{
    font-size: 1em;
    line-height: 34px;
    margin: 0 10px 0 0;
  }
  .btn{
    margin: 0 10px;
  }
}
.good{
  color: $good;
}
.bad{
  color: $bad;
}
.war{
  color: $war;
}
.pointer{
  cursor: pointer;
}
